.tab {
	-fx-alignment: CENTER-LEFT;
	-fx-padding: 0 0 0 37;
	-fx-font-size: 16px;
	-fx-font-family: "Verdana";
	-fx-background-color: #666666;
}

.tab:hover {
	-fx-background-color: #FF8C00;
	-fx-background-radius: 15 0 0 15;
	-fx-cursor: hand;
}

.choosingtab {
	-fx-alignment: CENTER-LEFT;
	-fx-padding: 0 0 0 37;
	-fx-font-size: 16px;
	-fx-font-family: "Verdana";
	-fx-background-color: #FF8C00;
	-fx-background-radius: 15 0 0 15;
}
